﻿@page "/"


<Dialog Show="showDialog"
        OnCancel="DialogCancelHandler"
        OnOk="DialogOkHandler">

<Title>Adresse eingeben</Title>

<Body>
   <p>Vor-/Nachname:</p>  <input @bind="Name"/>
    <p>PLZ:</p> <input @bind="PLZ" />
    <p>Ort:</p> <input @bind="City" />
    <p>Land:</p> <input @bind="Land" />
</Body>
</Dialog>


    @foreach(var item in LGesamt) {
        @item  <br>              
    }




<button @onclick="OpenDialog">showDialog</button>


@code {

    private string Name;
    private string PLZ;
    private string City;
    private string Land;
    private int i=0;
    private List<string> LGesamt = new List<string>();
    private bool showDialog = false;
    private void OpenDialog() {
        showDialog = true;
    }
    private void DialogCancelHandler(MouseEventArgs e) {
        Name = "";
        PLZ = "";
        City = "";
        Land = "";
        showDialog = false;
    }

    private void DialogOkHandler(MouseEventArgs e) {
    
        LGesamt.Add(Name);
        LGesamt.Add(PLZ);
        LGesamt.Add(City);
        LGesamt.Add(Land);

        Name = "";
        PLZ = "";
        City = "";
        Land = "";

        showDialog = false;  
    }


    }

 
